h1{
    border-style: solid;
    outline: 2rem;
    border-radius: 5rem;
    background-color: rgb(255, 214, 214);
    width: 10%;
    border-right: 20px;
    font-size: larger;
    padding: auto;
    align-items: center;
    
}
h1:hover{
 background-color: darkkhaki;  
}
body{
    background-color: rgb(16, 80, 98);
    text-align: left top;
    font-size: 200%;
    background-image:url(effiel.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    width: 750px;
    height: 220px;
    position: absolute;
    top:28%;
    left:40%;
    transform: translate(-50%,-50%);
    font-size: 60px;
}
.clock{
    width: 50%;
    height:48%;
    background: rgba(235,0,255,0.11);
    border-radius: 10px;
    text-align: center;
    backdrop-filter:blur(40px);
}
.container::before{
    content: '';
    width:80px;
    height: 80px;
    background:#f41b75;
    border-radius: 5px;
    box-shadow: 2px;
    position: absolute;
    left:-15px;
    top:-15px;
    z-index: -1;
}
    .container::after{
        content: '';
        width:80px;
        height: 80px;
        background:#419aff;
        border-radius: 50%;
        position: absolute;
        left:330px;
        bottom: px;
        top:58px;
        z-index: -1;
    }
.clock span{
    font-size: 50px;
    width: 50px;
    display:inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 15px;
    position: absolute;
    bottom: -15px;
    left:50%;
    text-shadow: black;
    transform: translateX(-40%);

}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SECONDS';
}

